# Exclude default R data formats and R studio files that may accidentally save your data.
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto



# Exclude data file types
*.xls
*.xlsx
*.xlsm
*.xlsb
*.csv
*.zip


# Exclude output formats
*.doc
*.docx
*.html
*.pdf
*.ppt
*.pptx
*.svg

# Ignore raw data folders
data/LSOA11_fullUK/
data/LSOA21_fullUK/
data/WM_LSOA11_table/
data/WM_LSOA21_table/
data/lsoa pop/

# ---------------------------
# KEEP processed data
# ---------------------------
!*.rds
